[submodule "vim"]
	path = modules.d/0017vim/files.d/source/vim
	url = /run/media/naitree/9d2b094e-cbc6-48d2-aeb3-1f513dfaaf03/storage/vim.git
[submodule "modules.d/0026pyenv/files.d/source/pyenv"]
	path = modules.d/0026pyenv/files.d/source/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "modules.d/0033autojump/files.d/source/autojump"]
	path = modules.d/0033autojump/files.d/source/autojump
	url = https://github.com/wting/autojump.git
[submodule "modules.d/0035kwin-quarter-tiling/files.d/kwin-quarter-tiling"]
	path = modules.d/0035kwin-quarter-tiling/files.d/kwin-quarter-tiling
	url = https://github.com/Jazqa/kwin-quarter-tiling.git
[submodule "modules.d/0038i3/files.d/source/flat-remix"]
	path = modules.d/0038i3/files.d/source/flat-remix
	url = https://github.com/daniruiz/flat-remix.git
