[submodule "vim"]
	path = modules.d/0017vim/files.d/source/vim
	url = /run/media/naitree/9d2b094e-cbc6-48d2-aeb3-1f513dfaaf03/storage/vim.git
[submodule "modules.d/0026pyenv/files.d/source/pyenv"]
	path = modules.d/0026pyenv/files.d/source/pyenv
	url = https://github.com/yyuu/pyenv.git
[submodule "modules.d/0033autojump/files.d/source/autojump"]
	path = modules.d/0033autojump/files.d/source/autojump
	url = https://github.com/wting/autojump.git
[submodule "modules.d/0035kwin-quarter-tiling/files.d/kwin-quarter-tiling"]
	path = modules.d/0035kwin-quarter-tiling/files.d/kwin-quarter-tiling
	url = https://github.com/Jazqa/kwin-quarter-tiling.git
[submodule "modules.d/0038i3/files.d/source/flat-remix"]
	path = modules.d/0038i3/files.d/source/flat-remix
	url = https://github.com/daniruiz/flat-remix.git
[submodule "modules.d/0040AUR/files.d/source/google-chrome"]
	path = modules.d/0040AUR/files.d/source/google-chrome
	url = https://aur.archlinux.org/google-chrome.git
[submodule "modules.d/0040AUR/files.d/source/mysql"]
	path = modules.d/0040AUR/files.d/source/mysql
	url = https://aur.archlinux.org/mysql.git
[submodule "modules.d/0040AUR/files.d/source/python-powerline-git"]
	path = modules.d/0040AUR/files.d/source/python-powerline-git
	url = https://aur.archlinux.org/python-powerline-git.git
[submodule "modules.d/0040AUR/files.d/source/ttf-font-awesome-4"]
	path = modules.d/0040AUR/files.d/source/ttf-font-awesome-4
	url = https://aur.archlinux.org/ttf-font-awesome-4.git
[submodule "modules.d/0004fonts/files.d/source/powerline-fonts"]
	path = modules.d/0004fonts/files.d/source/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "modules.d/0040AUR/files.d/source/spotify"]
	path = modules.d/0040AUR/files.d/source/spotify
	url = https://aur.archlinux.org/spotify.git
[submodule "modules.d/0040AUR/files.d/source/tilix-bin"]
	path = modules.d/0040AUR/files.d/source/tilix-bin
	url = https://aur.archlinux.org/tilix-bin.git
[submodule "modules.d/0040AUR/files.d/source/vte3-tilix"]
	path = modules.d/0040AUR/files.d/source/vte3-tilix
	url = https://aur.archlinux.org/vte3-tilix.git
[submodule "modules.d/0040AUR/files.d/source/rofi-greenclip"]
	path = modules.d/0040AUR/files.d/source/rofi-greenclip
	url = https://aur.archlinux.org/rofi-greenclip.git
