! general
rofi.threads: 1
! add greenclip clipboard mode
rofi.modi: window,run,drun,clipboard:greenclip print,ssh
rofi.case-sensitive: false
rofi.cycle: true
rofi.scroll-method: 1
rofi.show-match: true
rofi.show-icons: false
! matching
rofi.matching: fuzzy
rofi.tokenize: true
! layout
rofi.monitor: -4
rofi.theme: Arc-Dark
! combi settings
rofi.combi-modi: window,run,drun,ssh
! history and sorting
rofi.sort: true
rofi.levenshtein-sort: true
! other
rofi.click-to-exit: true
